/* cusCalender.css */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(120px, 1fr)
  ); /* Auto-fit with min and max column width */
  gap: 10px;
  margin-top: 20px;
}

.day {
  position: relative;
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #e9ecef;
}

.day-number {
  font-size: 18px;
  font-weight: bold;
}

.day.holiday {
  background-color: #09367a;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.day.holiday:hover {
  background-color: #09367a;
  opacity: 0.8;
}

.holiday-name {
  font-size: 12px;
  color: #c8e7ff;
  text-align: center;
  margin-top: 5px;
}

.holiday-name span {
  display: block;
  white-space: nowrap; /* Prevent text from wrapping to next line */
  overflow: hidden;
  text-overflow: ellipsis; /* Add "..." when the text overflows */
}

/* cusCalender2.css */
.holiday-modal .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translateY(-50px);
  opacity: 0;
}

.holiday-modal .modal.fade.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.holiday-modal .modal-dialog {
  max-width: 30%;
  max-height: 70%;
  margin: auto;
}

.holiday-modal .modal-content {
  height: 100%;
}

/* Highlight the current day */
.current-day {
  background-color: #1a83c6; /* Light blue background */
  color: #fff; /* Dark blue text */
  font-weight: bold;
}

/* Optional: Style for the day number */
.day-number {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
}

.holiday-modal .modal-50 {
  max-width: 50%;
}

/* Responsive Design using auto-fit and minmax() */
@media (max-width: 1024px) {
  /* For tablets and small desktops */
  .calendar-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(100px, 1fr)
    ); /* Adjust for smaller screen */
  }
}

@media (max-width: 768px) {
  /* For mobile devices */
  .calendar-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(80px, 1fr)
    ); /* Even smaller columns */
    gap: 8px;
  }

  .day {
    padding: 8px;
  }

  .day-number {
    font-size: 16px;
  }

  .holiday-name {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  /* For very small screens like phones in portrait mode */
  .calendar-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(60px, 1fr)
    ); /* Even more condensed grid */
    gap: 6px;
  }

  .day {
    padding: 6px;
  }

  .day-number {
    font-size: 14px;
  }

  .holiday-name {
    font-size: 9px;
  }

  .holiday-modal .modal-dialog {
    max-width: 80%;
  }
}
