/*.supplier-container {
   max-width: 400px; 
  margin: 0 auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
*/
.supplier-container h2 {
  text-align: center;
  font-weight: 600;
  color: #191919;
  margin-bottom: 25px;
}

/* .supplier-container select, */
.supplier-container input {
  /* width: 100%; */
  padding: 6px 20px;
  /* margin: 2px 0; */
  border-radius: 4px;
  border: 1px solid #ccc;
}

.supplier-container input:focus-visible {
  outline: 0;
  box-sizing: 0;
  border: 2px solid #1a83c6;
}

.supplier-container .btn {
  background-color: #1a83c6;
  color: white;
  font-size: 16px;
  margin-top: 25px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin-top: 0;
}
.supplier-container .btn:hover {
  background-color: #1671a9;
  color: #fff;
}

.supplier-container a {
  /* display: block; */
  text-align: center;
  margin-top: 10px;
  color: #1a83c6;
  margin-left: 5px;
}

.supplier-container a:hover {
  text-decoration: underline;
}

/* .supplier-container p {
    color: red;
    font-size: 14px;
  } */

.input-group {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-group .input-group-text {
  flex: 0 0 auto; /* Keeps the "M" span from growing or shrinking */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #212529;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input-group input {
  flex: 1; /* Ensures the input takes up the remaining space */
  border-left: none; /* Removes the border between the span and input */
  padding: 0.375rem 0.75rem; /* Matching padding to keep consistency */
  border-radius: 0 4px 4px 0; /* Rounding only the right corners */
  font-size: 1rem; /* Same font size as input-group-text */
  border: 1px solid #ced4da; /* Border for the input */
}

.custom-input-group input:focus-visible {
  outline: none;
  border: 2px solid #1a83c6;
}

/* Apply red border to react-select when it's invalid */
.react-select.is-invalid {
  border-color: red !important; /* Use !important if you need to override default styles */
}

/* If you want to change the focus border as well, you can add */
.react-select.is-invalid:focus {
  border-color: red !important;
}

.message-container {
  text-align: center;
  margin-top: 1.5rem;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 50px 10px;
}
