.award-banner-img{
        border-radius: 20px;
        overflow: hidden;
    }
     .speaker-bx{
        padding: 25px;
        position: relative;
     }
     .speaker-img{
border-radius: 50%;
overflow: hidden;background-color: #fec84e;
background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
padding: 10px;
position: relative;
margin: 0 30PX;
     }
    .speaker-bx img{
        width: 100%;
border-radius: 50%;


    }
     .speaker-bx a{
text-align: center;display: block;
padding: 15px 15px;
background: #09367a;
color: #fff;
min-height: 150px;
border-radius: 30px;
    position: relative;
    margin-top: -30px;
     }.fancy, .fancy-w {
    margin: 50px auto;
    text-align: center;font-weight: bold;
}.fancy span, .fancy-w span {
    display: inline-block;
    position: relative;
}.fancy span:before, .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 20px;
    width: 20%;
}.fancy span:before, .fancy-w span:before {
    right: 100%;
    margin-right: 15px;
}.fancy span:after, .fancy-w span:after{
    left: 100%;
    margin-left: 15px;
}
.award-accordion button{
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    background-color: #f1f9ff;font-weight: bold;
    font-size: 1.2rem;
    border: 0.5px solid #bbd6ff !important;
}
.bg-blue{
    background: #09367a!important;
color: #fff!important;font-weight: 700;
}
.accordion-button:not(.collapsed){
   background-color: #fec84e;
background-image: linear-gradient(315deg, #fec84e 0%, #ffdea8 74%);
    border: none;
}
@media(max-width:991px){
    .speaker-bx a{
        min-height: 205px;
    }
}
@media(max-width:600px){
    .speaker-bx a{
        min-height: 0;
    }
}